<h1>{{user.username}} Homepage</h1>

  {{#each user.posts}}

    <h4>{{title}}</h4>
    <h4>{{user.email}}</h4>

    <p>Description: {{description}}</p>

    <img class="post-img {{_id}}" src="{{postPhotoUrl}}" alt="{{title}}" />

  {{/each}}

