<h1>Your posts:</h1>
<br>
  {{#each user.posts}}

    <h4>Title: {{title}}</h4>
    <h4>Date: {{formatDate date}}</h4>

     
    <h4>Description: {{description}}<h4> 
  

    <img class="post-img" src="{{postPhotoUrl}}" alt="{{title}}" />
    <p></p>
    <p>Tags: {{tags}}</p>
    
    <form action="/post/delete/{{_id}}" method="POST">
    <button class="btn btn-delete" type="submit">
    <span class="mdi mdi-delete mdi-24px"></span>
    <span class="mdi mdi-delete-empty mdi-24px"></span>
    <span>Delete post</span>  
    </button>
    </form>
    <hr class="hr-post">
  {{/each}}

<h1>Your matches:</h1>

<br>

{{#each myMatches}}
<a href="/match/{{this._id}}"><img src="{{userPhotoUrl}}" alt="match-img"></a>
<h4>Name: {{username}}</h4>
<h4>Age: {{age}}</h4>
<h4>Country: {{country}}</h4>
{{/each}}