<div class="title-cards">
  <h1>{{user.username}}'s Home</h1>
</div>

<div class="post-cards">
  {{#each user.posts}}
    <div class="single-card">
      <img class="post-img {{_id}}" src="{{postPhotoUrl}}" alt="{{title}}" />
      <div class="card-content">
        <div class="text-cards">
          <h4>{{title}}</h4>
          <div>
            <p class="post-description">{{description}}</p>
          </div>
        </div>
          <div class="div-tags">
        {{#each tags}}
            <span class="span-tags"><p>{{this}}</p></span>
        {{/each}}
          </div>
        <form action="/post/delete/{{_id}}" method="POST">
          <button class="btn btn-delete" type="submit">
            <span class="mdi mdi-delete"></span>
            <span class="mdi mdi-delete-empty"></span>
            <span>DELETE</span>
          </button>
        </form>
      </div>
    </div>
  {{/each}}
</div>

<div class="match-scroller snaps-inline">
  {{#each myMatches}}
    <div class="match-card">
      <a href="/match/{{_id}}"><img
          src="{{userPhotoUrl}}"
          alt="match-img"
        /></a>
      <p>Matched with {{username}}</p>
    </div>
  {{/each}}
</div>