<h1>{{username}} Homepage</h1>

  {{#each posts}}

    <h4>{{title}}</h4>

    <p>Description: {{description}}</p>

    <img class="post-img {{_id}}" src="{{postPhotoUrl}}" alt="{{title}}" />

  {{/each}}